.shopping-cart {
  color: #fff;
  margin: 20px 0px;
}
.shopping-cart .icon {
  font-size: 3em;
}
.shopping-cart .items {
  position: relative;
  top: -40px;
  color: #444;
  left: 2px;
  font-weight: bold;
}
